main{
    margin: 0 auto;
    max-width: 1200px;
    padding: none;
    padding-bottom: 40px;
}
header{
    background-color: rgb(2, 40, 40);
    height: 190px;
}
footer{
    background-color: rgb(2, 40, 40);
    text-align: center;
    line-height: 1.8;
    display: flex;
    color: rgb(252, 200, 157);
    padding: 30px;
    margin: auto;
    font-size: small;
    justify-content:center;
    align-items:center;
}
#logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding-top: 10px;
}
h1{
    font-size: 2em;
    padding-top: 40px;
}
h2{
    font-size: 2em;
}
p{
    font-family: sans-serif;
}
.button{
    background-color: rgb(2, 40, 40);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    padding: 15px 32px;
}
nav{
    text-align: center;
    padding-top: 50px;
    color: rgb(252, 200, 157);
}
nav ul{
    margin: 0;
    padding: 0;
    background-color: rgb(2, 40, 40);
}
nav li{
    list-style-type: none;
    display: inline-block;
}
nav li a{
    display: inline-block;
    padding: 10px 20px;
}
a:link {
    text-decoration: none;
    color: rgb(252, 200, 157);
}
a:visited {
    text-decoration: none;
    text-decoration-color: none;
    color: rgb(252, 200, 157);
    display:inline-block;
}
a:active {
    text-decoration: underline;
    color: rgb(252, 200, 157);
}
a:hover{
    text-decoration: underline;
    color: rgb(252, 200, 157);
}
#primary-nav{
    overflow: hidden;
    color: rgb(252, 200, 157);
}
#primary-nav ul{
    margin: 0;
    padding: 0;
}
#primary-nav li{
    list-style: none;
    display: inline-block;
}
#toggle-nav{
    display: none;
}
img{
    width: 100%;
    height: auto;
}
.column{
    gap: 2em;
  }
.row{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.col-60{
    width: 60%;
    padding-top: 60px;
    }
.col-40{
    width: 40%;
    padding-top: 40px;
    }
.col-50{
    width:50%
}
.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
.grid-item {
    border: 1px double rgb(2, 40, 40);
    border: double;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }



@media (max-width: 770px){
    main{
        width: calc(100% - 4em)
    }
    .row{
        flex-direction: column;
    }
    .col-40{
        width: 100%;
    }
    .col-50{
        width: 100%;
    }     
    .col-60{
        width: 100%;
    }  
    #toggle-nav{
        display: block;
        position: absolute;
        background-color: rgb(252, 200, 157);
      }
    #primary-nav{
        max-height: 0;
      }
    #primary-nav li{
        display: block;
      }
    body.nav-open #primary-nav{
        max-height: 400px;
      }
    .grid-container {
        display: grid;
        gap: 50px;
        grid-template-columns: auto auto;
        padding: 10px;
      }
 
    }